<mat-card class="badge-card">
  <mat-card-title-group>
    <img
      src="./assets/shield-background.png" class="shield-background">
    <img
      src="./assets/appveyor.svg" class="shield-badge" />
    <mat-card-content class="badge-title">
      <div class="badge-name">
        Homework Badge
      </div>
      <div class="badge-level">
        LV. 15
      </div>
    </mat-card-content>
  </mat-card-title-group>
  <div class="badge-description-container">
    <mat-card-content class="badge-description">Insert custom logo image (≥ 14px high). There is a limit on the total size of request headers we can accept (8192 bytes). From a practical perspective, this means the base64-encoded image text is limited to somewhere slightly under 8192 bytes depending on the rest of the request header. Insert custom logo image (≥ 14px high). There is a limit on the total size of request headers we can accept (8192 bytes). From a practical perspective, this means the base64-encoded image text is limited to somewhere slightly under 8192 bytes depending on the rest of the request header.
    </mat-card-content>
  </div>
</mat-card>
